.venv/
__pycache__/
*.db
*.csv
*.json
*.txt
!requirements.txt
deployment/caddy_config/
deployment/caddy_data/
deployment/caddy-conf/certs/**
!deployment/caddy-conf/certs/.gitkeep
!deployment/caddy-conf/certs/replace-me-ca.crt
seed.py
local-dev-root.crt
